.blue-nav-bar1-container {
  width: 2126px;
  height: 111px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.blue-nav-bar1-navbar-interactive {
  width: 100%;
  height: 93px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #629fd1;
}
.blue-nav-bar1-container1 {
  flex: 0 0 auto;
  width: 250px;
  height: auto;
  display: flex;
  position: relative;
  align-items: space-between;
  flex-direction: column;
}
.blue-nav-bar1-navlink {
  display: contents;
}
.blue-nav-bar1-logo {
  top: -27px;
  left: -24px;
  right: 0px;
  width: 100%;
  height: auto;
  margin: auto;
  position: absolute;
  text-decoration: none;
}
.blue-nav-bar1-desktop-menu {
  display: flex;
}
.blue-nav-bar1-nav {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.blue-nav-bar1-navlink1 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: Noto Serif Thai;
  font-weight: 600;
  text-decoration: none;
}
.blue-nav-bar1-text {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: Noto Serif Thai;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
}
.blue-nav-bar1-navlink2 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: Noto Serif Thai;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.blue-nav-bar1-navlink3 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: Noto Serif Thai;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.blue-nav-bar1-navlink4 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: Noto Serif Thai;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.blue-nav-bar1-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.blue-nav-bar1-login {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-family: Noto Serif Thai;
  font-weight: 700;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: #000000;
}
.blue-nav-bar1-register {
  font-size: 20px;
  font-style: normal;
  font-family: Noto Serif Thai;
  font-weight: 700;
  text-decoration: none;
}
.blue-nav-bar1-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.blue-nav-bar1-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.blue-nav-bar1-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.blue-nav-bar1-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.blue-nav-bar1-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.blue-nav-bar1-image {
  height: 2rem;
}
.blue-nav-bar1-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blue-nav-bar1-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.blue-nav-bar1-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.blue-nav-bar1-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.blue-nav-bar1-text1 {
  margin-bottom: var(--dl-space-space-unit);
}
.blue-nav-bar1-navlink6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.blue-nav-bar1-navlink7 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.blue-nav-bar1-navlink8 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.blue-nav-bar1-container3 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.blue-nav-bar1-login1 {
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.blue-nav-bar1-register1 {
  text-decoration: none;
}
.blue-nav-bar1-root-class-name {
  width: 100%;
  height: 100%;
}
.blue-nav-bar1-root-class-name1 {
  width: 100%;
  height: 100%;
}
.blue-nav-bar1-root-class-name2 {
  width: 100%;
  height: 100%;
}
.blue-nav-bar1-root-class-name3 {
  width: 100%;
  height: 100%;
}
.blue-nav-bar1-root-class-name4 {
  width: 100%;
  height: 100%;
}
@media(max-width: 1600px) {
  .blue-nav-bar1-mobile-menu {
    height: 446px;
  }
  .blue-nav-bar1-login1 {
    color: #ffffff;
    background-color: #000000;
  }
}
@media(max-width: 1200px) {
  .blue-nav-bar1-desktop-menu {
    display: none;
  }
  .blue-nav-bar1-btn-group {
    display: none;
  }
  .blue-nav-bar1-burger-menu {
    display: flex;
  }
  .blue-nav-bar1-icon {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
}
@media(max-width: 991px) {
  .blue-nav-bar1-icon {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
}
@media(max-width: 767px) {
  .blue-nav-bar1-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .blue-nav-bar1-text {
    margin-left: var(--dl-space-space-unit);
  }
  .blue-nav-bar1-navlink2 {
    margin-left: var(--dl-space-space-unit);
  }
  .blue-nav-bar1-navlink3 {
    margin-left: var(--dl-space-space-unit);
  }
  .blue-nav-bar1-navlink4 {
    margin-left: var(--dl-space-space-unit);
  }
  .blue-nav-bar1-icon {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
}
@media(max-width: 479px) {
  .blue-nav-bar1-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .blue-nav-bar1-icon {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .blue-nav-bar1-mobile-menu {
    padding: 16px;
  }
}
