.cancel-container {
  width: 1442px;
  height: 233px;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 25px;
  flex-direction: column;
  justify-content: center;
}
.cancel-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-radius: 25px;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.cancel-image {
  top: 10%;
  left: 5%;
  width: 25%;
  height: 80%;
  position: absolute;
  object-fit: cover;
  border-radius: 20px;
}
.cancel-text {
  top: 10%;
  left: 32%;
  position: absolute;
  font-size: 2em;
}
.cancel-text1 {
  top: 28%;
  left: 32%;
  color: var(--dl-color-gray-700);
  position: absolute;
}
.cancel-text2 {
  top: 10%;
  right: 5%;
  position: absolute;
  font-size: 25px;
}
.cancel-text3 {
  top: 54%;
  left: 34%;
  position: absolute;
  font-size: 18px;
}
.cancel-button {
  color: var(--dl-color-gray-white);
  right: 5%;
  bottom: 10%;
  position: absolute;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
  border-radius: 20px;
  background-color: #ff0000;
}
.cancel-icon {
  top: 52%;
  fill: #ff0000;
  left: 32%;
  width: 24px;
  height: 24px;
  position: absolute;
}
.cancel-s-t-a-r {
  top: 35%;
  left: 32%;
  width: 124px;
  height: 25px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cancel-icon02 {
  top: 10px;
  fill: #f9ef00;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.cancel-icon04 {
  top: 10px;
  fill: #f9ef00;
  right: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: #000000;
}
.cancel-icon06 {
  top: 10px;
  fill: #f9ef00;
  right: 25px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: #000000;
}
.cancel-icon08 {
  top: 10px;
  fill: #f9ef00;
  left: 50px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: #000000;
}
.cancel-icon10 {
  top: 10px;
  fill: #f9ef00;
  left: 25px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: #000000;
}
.cancel-root-class-name {
  top: 15%;
  flex: 1;
  left: 239px;
  width: var(--dl-size-size-maxwidth);
  position: absolute;
  align-self: center;
}
