.category-button-container {
  width: 443px;
  height: 108px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.category-button-container1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 387.5px;
  bottom: 0px;
  height: 47px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.category-button-button {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-white);
  width: 183px;
  height: 46px;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  border-width: 0px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.category-button-button1 {
  top: 1px;
  color: var(--dl-color-gray-white);
  right: 0px;
  width: 183px;
  height: 46px;
  margin: auto;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  border-width: 0px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.category-button-root-class-name {
  align-self: center;
}
