.comment-card-container {
  width: 506px;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.comment-card-container1 {
  flex: 0 0 auto;
  width: 339px;
  height: 265px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-gray-500);
  border-width: 2px;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--dl-color-primary-700);
}
.comment-card-icon {
  top: 10%;
  fill: var(--dl-color-gray-500);
  width: 40%;
  height: 40%;
  position: absolute;
}
.comment-card-text {
  top: 15%;
  left: 40%;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.comment-card-text1 {
  top: 26%;
  left: 40%;
  color: var(--dl-color-gray-500);
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.comment-card-text2 {
  top: 60%;
  left: 10%;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.comment-card-container2 {
  top: 111px;
  left: 134px;
  width: 112px;
  height: 25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.comment-card-container3 {
  top: 0px;
  left: -1px;
  width: 110px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
@media(max-width: 412px) {
  .comment-card-container3 {
    top: -13px;
  }
}
