.component-container {
  width: 110px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.component-icon {
  top: -13px;
  fill: #f9ef00;
  left: -1px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.component-icon02 {
  top: -13px;
  fill: #f9ef00;
  left: 20px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.component-icon04 {
  top: -13px;
  fill: #f9ef00;
  left: 42px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.component-icon06 {
  top: -13px;
  fill: #f9ef00;
  left: 64px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.component-icon08 {
  top: -13px;
  fill: #f9ef00;
  right: 3px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.component-root-class-name {
  top: 0px;
  left: 0px;
  position: absolute;
}
.component-root-class-name5 {
  top: 0px;
  left: 0px;
  display: none;
  position: absolute;
}
.component-root-class-name7 {
  top: 0px;
  left: 0px;
  display: none;
  position: absolute;
}
.component-root-class-name8 {
  top: 0px;
  left: 0px;
  display: none;
  position: absolute;
}
.component-root-class-name9 {
  top: 0px;
  left: 0px;
  display: none;
  position: absolute;
}
@media(max-width: 412px) {
  .component-icon {
    top: 0px;
    left: 0px;
  }
  .component-icon02 {
    top: 0px;
    left: 21px;
  }
  .component-icon04 {
    top: 0px;
    left: 43px;
  }
  .component-icon06 {
    top: 0px;
    right: 22px;
  }
  .component-icon08 {
    top: 0px;
    right: 0px;
  }
  .component-root-class-name5 {
    top: 15px;
    left: 234px;
  }
  .component-root-class-name7 {
    top: 15px;
    left: 234px;
  }
  .component-root-class-name8 {
    top: 15px;
    left: 234px;
  }
  .component-root-class-name9 {
    top: 14px;
    right: 34px;
    display: flex;
  }
}
