.history-container {
  width: 1442px;
  height: 233px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-radius: 25px;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.history-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-radius: 25px;
  flex-direction: column;
}
.history-image {
  top: 10%;
  left: 5%;
  width: 25%;
  height: 80%;
  position: absolute;
  object-fit: cover;
  border-radius: 20px;
}
.history-text {
  top: 10%;
  left: 32%;
  position: absolute;
  font-size: 2em;
}
.history-text1 {
  top: 28%;
  left: 32%;
  color: var(--dl-color-gray-700);
  position: absolute;
}
.history-text2 {
  top: 10%;
  right: 5%;
  position: absolute;
  font-size: 25px;
}
.history-text3 {
  top: 54%;
  left: 34%;
  position: absolute;
  font-size: 18px;
}
.history-icon {
  top: 52%;
  fill: #ff0000;
  left: 32%;
  width: 24px;
  height: 24px;
  position: absolute;
}
.history-navlink {
  color: var(--dl-color-gray-white);
  right: 5%;
  bottom: 10%;
  position: absolute;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
  border-radius: 20px;
  text-decoration: none;
  background-color: #5efb83;
}
.history-s-t-a-r {
  top: 35%;
  left: 32%;
  width: 124px;
  height: 25px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.history-icon02 {
  top: 10px;
  fill: #f9ef00;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.history-icon04 {
  top: 10px;
  fill: #f9ef00;
  right: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: #000000;
}
.history-icon06 {
  top: 10px;
  fill: #f9ef00;
  right: 25px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: #000000;
}
.history-icon08 {
  top: 10px;
  fill: #f9ef00;
  left: 50px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: #000000;
}
.history-icon10 {
  top: 10px;
  fill: #f9ef00;
  left: 25px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: #000000;
}
.history-root-class-name {
  top: 0px;
  left: 0px;
  position: absolute;
}
@media(max-width: 991px) {
  .history-container {
    width: 95%;
  }
  .history-container1 {
    width: 100%;
  }
  .history-text2 {
    top: 10%;
    right: 2%;
    position: absolute;
  }
  .history-text3 {
    left: 35%;
  }
  .history-navlink {
    right: 2%;
    width: 180px;
    bottom: 10%;
    height: 36px;
  }
  .history-root-class-name {
    left: 25px;
  }
}
@media(max-width: 767px) {
  .history-container1 {
    width: 100%;
  }
  .history-text3 {
    left: 40%;
  }
  .history-icon06 {
    left: 85px;
    bottom: -48px;
  }
}
