.history-container {
  width: 1018px;
  height: 233px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-radius: 25px;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.history-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-radius: 25px;
  flex-direction: column;
}
.history-image {
  top: 10%;
  left: 5%;
  width: 25%;
  height: 80%;
  position: absolute;
  object-fit: cover;
  border-radius: 20px;
}
.history-text {
  top: 10%;
  left: 32%;
  position: absolute;
  font-size: 2em;
}
.history-text1 {
  top: 28%;
  left: 32%;
  color: var(--dl-color-gray-700);
  position: absolute;
}
.history-text2 {
  top: 10%;
  right: 5%;
  position: absolute;
  font-size: 25px;
}
.history-text3 {
  top: 96px;
  left: 345px;
  position: absolute;
  font-size: 18px;
}
.history-icon {
  top: 91px;
  fill: #ff0000;
  left: 325px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.history-navlink {
  color: var(--dl-color-gray-white);
  right: 5%;
  bottom: 10%;
  position: absolute;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
  border-radius: 20px;
  text-decoration: none;
  background-color: #5efb83;
}

@media(max-width: 412px) {
  .history-container {
    height: 146px;
  }
  .history-container1 {
    width: 100%;
    height: 147px;
  }
  .history-image {
    top: 24px;
    left: 21px;
    width: 104px;
    height: 102px;
  }
  .history-text {
    top: 26px;
    left: 136px;
    font-size: 1em;
  }
  .history-text1 {
    top: 48px;
    left: 137px;
    font-size: 16px;
  }
  .history-text2 {
    top: 20px;
    right: 23px;
    font-size: 16px;
  }
  .history-text3 {
    top: 72px;
    left: 152px;
    font-size: 16px;
  }
  .history-icon {
    top: 72px;
    left: 130px;
    width: 22px;
    height: 17px;
  }
  .history-navlink {
    width: 113px;
    font-size: 10px;
  }
  .history-root-class-name {
    width: 100%;
    height: auto;
    align-self: center;
  }
}
