.login-container {
  width: 1126px;
  height: 623px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.login-pop-up {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 1113px;
  bottom: 0px;
  height: 609px;
  margin: auto;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 100px 0.5px #000000;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.login-imagelogin {
  width: 606px;
  height: 100%;
  align-self: flex-start;
  object-fit: cover;
}
.login-container1 {
  top: 0px;
  flex: 0 0 auto;
  right: 507px;
  width: 605px;
  height: 163px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login-text {
  color: var(--dl-color-gray-white);
  font-size: 50px;
  align-self: center;
  text-align: center;
}
.login-container2 {
  top: 0px;
  flex: 0 0 auto;
  right: 1px;
  width: 506px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.login-login {
  top: 48px;
  left: 188px;
  opacity: 1;
  position: absolute;
  align-self: center;
}
.login-email {
  top: 150px;
  left: 0px;
  color: var(--dl-color-gray-black);
  right: 0px;
  width: 376px;
  height: 54px;
  margin: auto;
  position: absolute;
  align-self: center;
  border-color: #000000;
  background-color: #ffffff;
}
.login-navlink {
  top: 400px;
  left: 0px;
  color: var(--dl-color-gray-white);
  right: 0px;
  width: 378px;
  height: 43px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  text-align: center;
  border-color: var(--dl-color-gray-white);
  text-decoration: none;
  background-color: var(--dl-color-primary-300);
}
.login-email1 {
  top: 120px;
  left: 65px;
  position: absolute;
  font-size: 20px;
}
.login-pass {
  top: 250px;
  left: 65px;
  color: var(--dl-color-gray-white);
  width: 376px;
  height: 54px;
  margin: auto;
  position: absolute;
  align-self: center;
  border-color: #000000;
  background-color: #ffffff;
}
.login-pass1 {
  top: 220px;
  left: 65px;
  margin: auto;
  position: absolute;
  font-size: 20px;
}
.login-root-class-name {
  flex: 1;
  width: 100%;
  height: 90%;
  align-self: center;
}
@media(max-width: 412px) {
  .login-imagelogin {
    display: none;
  }
  .login-container1 {
    display: none;
  }
  .login-container2 {
    left: 0px;
    width: 412px;
  }
  .login-login {
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
  }
  .login-email {
    left: 0px;
    right: 0px;
    width: 271px;
    height: 54px;
    margin: auto;
  }
  .login-navlink {
    width: 275px;
  }
  .login-pass {
    left: 0px;
    right: 0px;
    width: 275px;
    margin: auto;
  }
}
