.page-mobile-details-container {
  width: 100%;
  height: 1000px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page-mobile-details-container1 {
  top: 54px;
  flex: 0 0 auto;
  left: 82px;
  width: 90%;
  height: 900px;
  display: none;
  position: absolute;
  align-self: center;
  align-items: flex-end;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-right-radius: 50;
  border-bottom-right-radius: 50;
}
.page-mobile-details-image {
  top: 50px;
  left: 50px;
  width: 600px;
  height: 440px;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
.page-mobile-details-text {
  top: 520px;
  left: 53px;
  color: var(--dl-color-gray-white);
  position: absolute;
}
.page-mobile-details-navlink {
  left: 69px;
  color: var(--dl-color-gray-white);
  width: 500px;
  bottom: 38px;
  height: 72px;
  margin: auto;
  position: absolute;
  font-size: 40px;
  text-align: center;
  border-color: var(--dl-color-primary-300);
  border-radius: 200px;
  text-decoration: none;
  background-color: var(--dl-color-primary-300);
  border-top-right-radius: 200;
  border-bottom-right-radius: 200;
}
.page-mobile-details-s-t-a-r {
  top: 565px;
  left: 53px;
  width: 124px;
  height: 25px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page-mobile-details-icon {
  top: 10px;
  fill: #f9ef00;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.page-mobile-details-icon02 {
  top: 10px;
  fill: #f9ef00;
  right: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: #000000;
}
.page-mobile-details-icon04 {
  top: 10px;
  fill: #f9ef00;
  right: 25px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: #000000;
}
.page-mobile-details-icon06 {
  top: 10px;
  fill: #f9ef00;
  left: 50px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: #000000;
}
.page-mobile-details-icon08 {
  top: 10px;
  fill: #f9ef00;
  left: 25px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: #000000;
}
.page-mobile-details-pin {
  top: 620px;
  fill: #ff0000;
  left: 51px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.page-mobile-details-text01 {
  top: 620px;
  left: 79px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 25px;
}
.page-mobile-details-container2 {
  top: 70.99431228637695px;
  left: 697.9971389770508px;
  width: 451.9886169433594px;
  height: 57.99715805053711px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.page-mobile-details-text02 {
  top: 0px;
  left: -15px;
  color: var(--dl-color-gray-white);
  width: 452px;
  height: 58px;
  position: absolute;
  font-size: 2em;
  font-style: normal;
  text-align: left;
  font-weight: 800;
}
.page-mobile-details-text03 {
  top: 128px;
  left: 683px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.page-mobile-details-text04 {
  top: 173px;
  left: 682px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.page-mobile-details-text05 {
  top: 219px;
  left: 683px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.page-mobile-details-text06 {
  top: 264px;
  left: 683px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.page-mobile-details-text07 {
  top: 563px;
  left: 540px;
  color: var(--dl-color-gray-900);
  position: absolute;
  font-size: 25px;
}
.page-mobile-details-text08 {
  top: 563px;
  left: 540px;
  color: var(--dl-color-gray-900);
  position: absolute;
  font-size: 25px;
}
.page-mobile-details-textinput {
  color: var(--dl-color-gray-700);
  right: 37px;
  width: 396px;
  bottom: 50px;
  height: 47px;
  position: absolute;
  border-color: var(--dl-color-gray-700);
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(0, 0, 0, 0.1);
}
.page-mobile-details-icon11 {
  top: 556px;
  fill: #D9D9D9;
  left: 611px;
  width: 36px;
  height: 35px;
  position: absolute;
}
.page-mobile-details-text09 {
  top: 379px;
  left: 675px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 22px;
  font-style: normal;
  text-align: left;
  font-weight: 700;
}
.page-mobile-details-text10 {
  top: 563px;
  left: 540px;
  color: var(--dl-color-gray-900);
  position: absolute;
  font-size: 25px;
}
.page-mobile-details-text11 {
  top: 609px;
  left: 491px;
  color: var(--dl-color-gray-900);
  position: absolute;
  font-size: 25px;
}
.page-mobile-details-text12 {
  top: 327px;
  left: 673px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 2em;
  font-style: normal;
  font-weight: 800;
}
.page-mobile-details-icon13 {
  fill: var(--dl-color-gray-700);
  right: 67px;
  width: 24px;
  bottom: 63px;
  height: 24px;
  position: absolute;
}
.page-mobile-details-text13 {
  top: 417px;
  left: 674px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.page-mobile-details-text14 {
  top: 455px;
  left: 674px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.page-mobile-details-text15 {
  color: var(--dl-color-gray-white);
  right: 167px;
  bottom: 384px;
  position: absolute;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.page-mobile-details-text16 {
  top: 562px;
  color: var(--dl-color-gray-white);
  right: 29px;
  position: absolute;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.page-mobile-details-text17 {
  left: 721px;
  color: var(--dl-color-primary-500);
  bottom: 76px;
  position: absolute;
  text-decoration: underline;
}
.page-mobile-details-text18 {
  top: 527px;
  left: 688px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 22px;
  font-style: normal;
  text-align: left;
  font-weight: 700;
}
.page-mobile-details-text19 {
  left: 602px;
  color: var(--dl-color-gray-white);
  bottom: 75px;
  position: absolute;
}
.page-mobile-details-text20 {
  left: 604px;
  color: var(--dl-color-primary-500);
  bottom: 39px;
  position: absolute;
  text-decoration: underline;
}

@media(max-width: 412px) {
  .page-mobile-details-container1 {
    top: 50px;
    left: 21px;
    right: 21px;
    display: flex;
  }
  .page-mobile-details-image {
    top: 42px;
    left: 29px;
    width: 312px;
    height: 283px;
    display: none;
  }
  .page-mobile-details-text {
    top: 363px;
    left: 34px;
    display: none;
  }
  .page-mobile-details-navlink {
    left: 21px;
    width: 309px;
    bottom: 98px;
    height: 64px;
    display: none;
  }
  .page-mobile-details-s-t-a-r {
    display: none;
  }
  .page-mobile-details-icon {
    top: -147px;
    left: -21px;
  }
  .page-mobile-details-icon02 {
    top: -147px;
    left: 79px;
    right: 21px;
  }
  .page-mobile-details-icon04 {
    top: -147px;
    left: 54px;
  }
  .page-mobile-details-icon06 {
    top: -147px;
    left: 29px;
  }
  .page-mobile-details-icon08 {
    top: -147px;
    left: 4px;
  }
  .page-mobile-details-pin {
    top: 467px;
    left: 33px;
    display: none;
  }
  .page-mobile-details-text01 {
    top: 464px;
    left: 61px;
    display: none;
  }
  .page-mobile-details-container2 {
    display: none;
  }
  .page-mobile-details-text03 {
    top: 42px;
    left: 0px;
    right: 0px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-mobile-details-text04 {
    top: 111px;
    left: 0px;
    right: 0px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-mobile-details-text05 {
    top: 157px;
    left: 0px;
    right: 0px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-mobile-details-text06 {
    top: 202px;
    left: 0px;
    right: 0px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-mobile-details-text07 {
    top: 543px;
    right: 174px;
    margin: auto;
    display: none;
  }
  .page-mobile-details-text08 {
    top: 716px;
    left: 166px;
    margin: auto;
    display: none;
  }
  .page-mobile-details-textinput {
    left: 20px;
    width: 324px;
    bottom: 31px;
    height: 47px;
  }
  .page-mobile-details-icon11 {
    top: 539px;
    left: 220px;
    right: 29px;
    width: 43px;
    height: 47px;
    display: none;
  }
  .page-mobile-details-text09 {
    top: 273px;
    left: 0px;
    right: 0px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-mobile-details-text10 {
    top: 373px;
    left: 231px;
    right: 42px;
    display: none;
    font-size: 20px;
  }
  .page-mobile-details-text11 {
    top: 595px;
    left: 153px;
    display: none;
  }
  .page-mobile-details-text12 {
    display: none;
  }
  .page-mobile-details-icon13 {
    right: 46px;
    bottom: 42px;
  }
  .page-mobile-details-text13 {
    top: 331px;
    left: 0px;
    right: 0px;
    margin: var(--dl-space-space-halfunit);
    display: none;
  }
  .page-mobile-details-text14 {
    top: 372px;
    left: 0px;
    right: 0px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-mobile-details-text15 {
    top: 414px;
    left: 0px;
    right: 0px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-mobile-details-text16 {
    top: 478px;
    left: 0px;
    right: 0px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-mobile-details-text17 {
    left: 0px;
    right: 0px;
    margin: auto;
    display: none;
  }
  .page-mobile-details-text18 {
    top: 560px;
    left: 0px;
    right: 0px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-mobile-details-text19 {
    left: 0px;
    right: 0px;
    bottom: 130px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-mobile-details-text20 {
    left: 0px;
    right: 0px;
    bottom: 89px;
    margin: var(--dl-space-space-halfunit);
  }
}
