.payment-complete-container {
  width: 560px;
  height: 700px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.payment-complete-icon {
  fill: #5efb83;
  width: 100%;
  height: 70%;
}
.payment-complete-text {
  left: 134px;
  bottom: 20%;
  position: absolute;
  font-size: 40px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.payment-complete-navlink {
  left: 142px;
  color: var(--dl-color-gray-white);
  bottom: 10%;
  position: absolute;
  font-size: 25px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
  border-radius: 20px;
  text-decoration: none;
  background-color: var(--dl-color-primary-500);
}
