.register-container {
  width: 1126px;
  height: 623px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.register-pop-up {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 1113px;
  bottom: 0px;
  height: 609px;
  margin: auto;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 100px 0.5px #000000;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.register-imagelogin {
  width: 606px;
  height: 100%;
  align-self: flex-start;
  object-fit: cover;
}
.register-container1 {
  top: 0px;
  flex: 0 0 auto;
  right: 507px;
  width: 605px;
  height: 163px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.register-text {
  color: var(--dl-color-gray-white);
  font-size: 50px;
  align-self: center;
  text-align: center;
}
.register-container2 {
  top: 0px;
  flex: 0 0 auto;
  right: 1px;
  width: 506px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.register-login {
  top: 48px;
  left: 188px;
  opacity: 1;
  position: absolute;
  align-self: center;
}
.register-email {
  top: 150px;
  left: 0px;
  color: var(--dl-color-gray-black);
  right: 0px;
  width: 376px;
  height: 54px;
  margin: auto;
  position: absolute;
  align-self: center;
  border-color: #000000;
  background-color: #ffffff;
}
.register-email1 {
  top: 120px;
  left: 65px;
  position: absolute;
  font-size: 20px;
}
.register-pass {
  top: 250px;
  left: 65px;
  color: var(--dl-color-gray-white);
  width: 376px;
  height: 54px;
  margin: auto;
  position: absolute;
  align-self: center;
  border-color: #000000;
  background-color: #ffffff;
}
.register-pass1 {
  top: 220px;
  left: 65px;
  margin: auto;
  position: absolute;
  font-size: 20px;
}
.register-pass2 {
  top: 320px;
  left: 65px;
  margin: auto;
  position: absolute;
  font-size: 20px;
}
.register-navlink {
  top: 450px;
  left: 65px;
  color: var(--dl-color-gray-white);
  width: 378px;
  height: 43px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  text-align: center;
  border-color: var(--dl-color-gray-white);
  text-decoration: none;
  background-color: var(--dl-color-primary-300);
}
.register-pass2input {
  top: 350px;
  left: 65px;
  width: 376px;
  height: 54px;
  margin: auto;
  position: absolute;
}
.register-root-class-name {
  width: 100%;
  height: 800px;
  align-self: center;
}
.register-root-class-name1 {
  top: 9%;
  flex: 1;
  left: 0px;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  align-self: stretch;
}
@media(max-width: 412px) {
  .register-imagelogin {
    display: none;
  }
  .register-container1 {
    display: none;
  }
  .register-container2 {
    left: 0px;
    width: 412px;
  }
  .register-login {
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
  }
  .register-email {
    left: 0px;
    right: 0px;
    width: 275px;
    margin: auto;
  }
  .register-pass {
    left: 0px;
    right: 0px;
    width: 275px;
    margin: auto;
  }
  .register-navlink {
    left: 0px;
    right: 0px;
    width: 275px;
    margin: auto;
  }
  .register-pass2input {
    left: 0px;
    right: 0px;
    width: 275px;
    margin: auto;
  }
}
