.search-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.search-textinput {
  width: 730px;
  height: 65px;
  opacity: 0.8;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 200px;
}
.search-root-class-name {
  top: 141px;
  left: 0px;
  right: 0px;
  height: 100%;
  position: static;
  align-self: center;
}
.search-root-class-name1 {
  flex: 1;
  left: 0px;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
}
@media(max-width: 412px) {
  .search-textinput {
    width: 342px;
    height: 45px;
  }
  .search-root-class-name1 {
    flex: 0.2;
    left: 0px;
    right: 0px;
    bottom: 21px;
    margin: auto;
    min-width: auto;
    margin-top: var(--dl-space-space-unit);
  }
}
