.search1-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.search1-root-class-name {
  flex: 1;
}
.search1-root-class-name1 {
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  margin: auto;
  position: absolute;
}
