.google-login-button-container {
  display: flex;
  position: relative;
}
.google-login-button-button {
  color: #000000;
  width: 378px;
  height: 43px;
  display: flex;
  position: relative;
  font-size: 20px;
  text-align: center;
  border-color: #000000;
  flex-direction: row;
  text-decoration: none;
  background-color: #ffffff;
}
.google-login-button-image {
  width: auto;
  height: auto;
  align-self: stretch;
  object-fit: cover;
}
.google-login-button-text {
  align-self: stretch;
  text-align: center;
  margin-left: var(--dl-space-space-fourunits);
}
.google-login-button-root-class-name {
  left: 65px;
  width: auto;
  bottom: 110px;
  height: auto;
  margin: auto;
  position: absolute;
  align-self: center;
}
.google-login-button-root-class-name1 {
  left: 64px;
  bottom: 106px;
  position: absolute;
}
@media(max-width: 412px) {
  .google-login-button-button {
    width: 275px;
    align-self: center;
    margin-right: 0px;
  }
  .google-login-button-text {
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .google-login-button-root-class-name1 {
    top: 460px;
    left: 70px;
    margin: auto;
  }
}
