.comment-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ccd6dd;
}
.comment-page-container1 {
  top: 172px;
  flex: 0 0 auto;
  left: 71px;
  width: 446px;
  height: 268px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-500);
  border-width: 2px;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-700);
}
.comment-page-icon {
  top: 15px;
  fill: var(--dl-color-gray-500);
  left: -2px;
  width: 128px;
  height: 72px;
  position: absolute;
}
.comment-page-text {
  top: 22px;
  left: 117px;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.comment-page-text1 {
  top: 50px;
  left: 115px;
  color: var(--dl-color-gray-500);
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.comment-page-text2 {
  top: 60%;
  left: 10%;
  position: absolute;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}
.comment-page-container2 {
  top: 172px;
  flex: 0 0 auto;
  left: 555px;
  width: 446px;
  height: 268px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-500);
  border-width: 2px;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-700);
}
.comment-page-icon2 {
  top: 15px;
  fill: var(--dl-color-gray-500);
  left: -2px;
  width: 128px;
  height: 72px;
  position: absolute;
}
.comment-page-text3 {
  top: 22px;
  left: 117px;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.comment-page-text4 {
  top: 50px;
  left: 115px;
  color: var(--dl-color-gray-500);
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.comment-page-text5 {
  top: 60%;
  left: 10%;
  position: absolute;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}
@media(max-width: 412px) {
  .comment-page-container1 {
    top: 124px;
    left: 13px;
    width: 388px;
    height: 102px;
    align-self: center;
  }
  .comment-page-icon {
    top: 10px;
    left: 6px;
    width: 51px;
    height: 31px;
  }
  .comment-page-text {
    top: 9px;
    left: 61px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
  }
  .comment-page-text1 {
    top: 27px;
    left: 62px;
    color: var(--dl-color-gray-500);
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
  }
  .comment-page-text2 {
    top: 67px;
    left: 22px;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
  }
  .comment-page-container2 {
    top: 234px;
    left: 13px;
    width: 388px;
    height: 102px;
    align-self: center;
  }
  .comment-page-icon2 {
    top: 10px;
    left: 6px;
    width: 51px;
    height: 31px;
  }
  .comment-page-text3 {
    top: 9px;
    left: 61px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
  }
  .comment-page-text4 {
    top: 27px;
    left: 62px;
    color: var(--dl-color-gray-500);
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
  }
  .comment-page-text5 {
    top: 68px;
    left: 22px;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
  }
}
