body {
  background: url("public/JamesBond.png") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}



@media (max-width: 768px) {
  body {
    background-position: center;
  }
}
